/* DEPRECATED — START */
.dropdown__box--layout,
.dropdown__backdrop {
    top: 73px;
}

@media (max-width: 767px) {
    .dropdown__box--layout,
    .dropdown__backdrop {
        top: 65px;
    }
}

.dropdown-button {
    background: var(--Blue);
    border: none;
    text-transform: uppercase;
    padding: 16px 20px;
    color: var(--White);
    font-size: 16px;
    position: absolute;
    right: 0px;
}

.dropdown-content .dropdown-link:hover {
    background-color: var(--BlueDark);
}

.dropdown-content {
    background-color: var(--BlueDark);
    position: static;
}

.dropdown-user-box {
    bottom: 0;
    padding: 0 0 16px 0;
    background: var(--Blue);
    color: var(--White);
    width: 100%;
    height: 64vh;
    min-height: 260px;
    position: static;
}

.dropdown__backdrop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.54;
    background-color: var(--Black);
    z-index: 1;
}

.dropdown__box--layout {
    overflow: scroll;
    right: 0px;
    width: 75%;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1;
    position: absolute;
}

.irs-header--phone section {
    position: absolute;
    left: 0px;
    width: 100vw;
}

.dropdown-link--selected {
    font-weight: 700;
}

@media (min-width: 992px) {
    .dropdown-link--selected {
        background: var(--BlueDark);
    }
}

/* Portrait Phone Breakpoint */
@media (min-width: 500px) {
    .dropdown__box--layout {
        width: 336px;
    }
}

.dropdown__box--style {
    background: var(--Blue);
    overflow-y: scroll;
    overflow-x: auto;
    height: 100vh;
}

.border-container-right {
    height: 1px;
    width: 16px;
    background-color: var(--BlueDark);
}

.border-container-left {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.41);
}

.dropdown-user-box > .dropdown-section.link-list > li > a {
    font-size: 16px;
    line-height: 20px;
    color: var(--White);
    background: var(--Blue);
    padding: 8px 20px 8px 20px;
}

.dropdown-user-box > .dropdown-section.link-list > li:first-child > a {
    margin-top: 12px;
}

.dropdown-user-box > .dropdown-section.link-list > li:last-child > a {
    margin-bottom: 12px;
}

.dropdown-user-box > .dropdown-section.link-list > li > a:focus {
    outline: 3px solid var(--BlueVivid);
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline-offset: -3px;
}

.dropdown-section.link-list .external-icon {
    padding-right: 5px;
    fill: var(--White);
}

@media (min-width: 992px) {
    .disable-scroll {
        position: static;
    }
}

@media (max-width: 991px) {
    .disable-scroll {
        position: fixed;
    }

    .dropdown-user-box a.dropdown-link svg.user-icon,
    .dropdown-user-box a.dropdown-link svg.logout-icon {
        display: none;
    }
}

.dropdown-menu-prevent-body-scroll {
    position: fixed;
}
/* DEPRECATED — END */
