/* DEPRECATED — START */
/* animation keyframes */
@keyframes rollout {
    0% {
        max-height: 0;
        opacity: 0;
    }

    100% {
        max-height: 500px;
        opacity: 1;
    }
}

.DropdownSubNav__main {
    display: block;
    padding: 12px 20px;
    border: none;
    color: var(--White);
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    text-align: left;
    background-color: var(--BlueDark);
    font-family: Source Sans Pro, sans-serif;
    font-size: 18px;
    line-height: 20px;
}

/* screen width handlers */
@media screen and (min-width: 576px) {
    .DropdownSubNav__main {
        padding-left: 16px;
    }
}

.DropdownSubNav .down-chevron {
    float: right;
    font-size: 17px;
    position: relative;
    top: 0.3em;
}

.DropdownSubNav .up-chevron {
    float: right;
    font-size: 17px;
    position: relative;
    top: 0.3em;
}

.DropdownSubNav__ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: none;
}

.DropdownSubNav__ul.open {
    display: block;
}

.DropdownSubNav__animation-container {
    animation: rollout 1s;
}

.DropdownSubNav__main .down-chevron,
.DropdownSubNav__main .up-chevron {
    color: var(--White);
    height: 6px;
    width: 10px;
}
/* DEPRECATED — END */