input {
    color: inherit;
}

.radio-button__input,
.radio-button__input--disabled {
    height: 15px;
    margin-left: -25px;
    opacity: 0;
    position: absolute;
    margin-top: 4px;
    width: 14px;
    cursor: pointer;
}
.radio-button__input--disabled {
    cursor: default;
}

.input-label {
    line-height: 24px;
}

.radio-button > .input-label::before {
    content: '\a0';
    position: absolute;
    left: 16px;
    top: 5px;
    width: 12px;
    height: 12px;
    background: var(--White);
    border-radius: 100%;
    box-shadow: 0 0 0 2px var(--White), 0 0 0 3px #6e6e6e;
    font-size: 16px;
    text-indent: 0.15em;
    cursor: pointer;
}

.radio-button.radio-button--checked .input-label::before {
    background-color: var(--Blue);
    box-shadow: 0 0 0 2px var(--White), 0 0 0 4px var(--Blue);
    cursor: pointer;
}

.radio-button input:focus + label::before {
    box-shadow: 0 0 0 2px var(--White), 0 0 0 3px #6e6e6e, 0 0 0 5px var(--White),
        0 0 0 7px #add4fe;
}

.radio-button.radio-button--checked input:focus + label::before {
    box-shadow: 0 0 0 2px var(--White), 0 0 0 4px var(--Blue), 0 0 0 5px var(--White),
        0 0 0 7px #add4fe;
}

.radio-button {
    padding-left: 40px;
    position: relative;
    margin: 12px 0px;
}

@media screen and (max-width: 190px) {
    .radio-button {
        padding-left: 20px;
    }

    .radio-button > .input-label::before {
        left: 0px;
    }
}

.--disabled {
    color: var(--GrayDark);
}

.radio-button > .--disabled::before {
    background-color: var(--GrayLight);
    box-shadow: 0 0 0 2px var(--GrayLight), 0 0 0 3px var(--GrayLight);
    cursor: default;
}
