/** ------------------- *
  *   Block Selector    *
  * ------------------- */
#service-unavailable {
    display: flex;
    border: 1px solid var(--GrayLight);
    padding: 24px;
}
 .service-unavailable .content-box__border {
    padding-bottom: 0px;
}

@media (max-width: 1199px) {
    .service-unavailable #service-unavailable {
        max-height: none;
    }
}

@media (min-width: 1200px) {
    .service-unavailable #service-unavailable {
        max-height: none;
    }
}

@media (max-width: 992px) {
    .service-unavailable #service-unavailable {
        max-height: none;
        padding: 16px;
    }
}
/** ----------------------- *
*   Element Selectors     *
* ----------------------- */
#service-unavailable__content {
    padding-left: 15px;
}

#service-unavailable__content h2 {
    margin: 0;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    color: var(--GrayDarkest);
}

#service-unavailable__content p {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: var(--GrayDarkest);
}

#sad-cloud__img {
    align-self: flex-start;
    min-width: 60px;
    height: 60px;
}

.service-unavailable__message {
    white-space: pre-wrap;
}

/** ----------------------- *
*    Modifying Selectors  *
* ----------------------- */
