/** ------------------- *
  *   Block Selector    *
  * ------------------- */
  .skip-nav {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
  }
/** ----------------------- *
*   Element Selectors     *
* ----------------------- */

/** ----------------------- *
*    Modifying Selectors  *
* ----------------------- */

.skip-nav:focus, .skip-nav:active {
  color: #227dae;
  background-color: var(--White);
  left: auto;
  top: auto;
  width: 220px;
  height: auto;
  overflow: auto;
  padding: 0 10px;
  text-align: center;
  z-index: 999;
}