.section-alert {
    position: relative;
    border-left-width: 3px;
    border-left-style: solid;
    margin: 16px 0;
    padding: 24px;
    display: flex;
}

.section-alert__content p,
.section-alert__content li {
    color: var(--GrayDarkest);
    /* Body text */
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}

.section-alert__content p {
    margin-bottom: 12px;
}

.section-alert__content p:last-of-type {
    margin-bottom: 0px;
    margin-top: 0px;
}

.section-alert__content li:first-of-type {
    margin-top: 12px;
}

.section-alert__content li:last-of-type {
    padding-bottom: 0;
}

/* error */
.section-alert--red {
    background: var(--RedLightest);
    border-left-color: var(--Red);
}

/* info */
.section-alert--blue {
    background: var(--TealLightest);
    border-left-color: var(--Teal);
}

/* success */
.section-alert--green {
    background: var(--GreenLightest);
    border-left-color: var(--Green);
}

/* warning */
.section-alert--yellow {
    background: var(--YellowLightest);
    border-left-color: var(--Yellow);
}

.section-alert__icon {
    display: inline-block;
    margin: 0px 12px auto 0px;
}

.section-alert__icon svg {
    fill: var(--GrayDarkest);
    font-size: 24px;
    margin-left: 0px;
    height: 24px;
    width: 24px;
}

.section-alert__title {
    color: var(--GrayDarkest);
    display: inline-block;
    text-transform: none;
}

.section-alert__title-weighted {
    /* Heading 20 */
    font-size: 20px !important;
    line-height: 28px !important;
    margin: 0px 0px 12px !important;
}

.section-alert__title-unweighted {
    /* Heading 16 */
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: normal !important;
    margin: 0px !important;
}
