.pagination-nav {
   padding: 0;
   display: flex;
}

.pagination-nav li {
   list-style: none;
}

.pagination-nav li:last-child::before {
   content: '';
   border-left: 1px solid var(--GrayLight);
   margin: 0 16px;
   font-size: 12px;
}

.pagination-nav__label {
   margin-right: 16px;
}

.pagination-nav__mute {
   color: var(--GrayDark);
}