.pages-container {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.pages-container li {
    list-style: none;
}

.pagination__buttons-container {
    display: flex;
    flex-direction: row;
}

.chevron-outer-container {
    display: flex;
    align-items: center;
}

.chevron-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
    border: 1px solid var(--Blue);
    padding: 9px 16px 9px;
    height: 44px;
    align-self: flex-end;
}

.chevron-container:focus {
    outline: 3px solid var(--BlueVivid);
    z-index: 2;
}

.chevron-container:hover {
    cursor: pointer;
    background-color: var(--GrayLightest);
}

.chevron-container-disabled:hover {
    background-color: var(--White);
}

.chevron-container__left {
    border-radius: 4px 0 0 4px;
    width: 100%;
}

.chevron-container__right {
    border-radius: 0px 4px 4px 0;
    width: 100%;
}

.chevron-container__right:hover,
.chevron-container__left:hover {
    cursor: pointer;
}

.chevron-icon-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6px;
}

.chevron-icon-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

.numbered-page-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--Blue);
    border-bottom: 1px solid var(--Blue);
    border-right: 1px solid var(--Blue);
    border-left: none;
    font-size: 16px;
    color: var(--Blue);
    padding: 12px;
    width: 44px;
    height: 44px;
    background-color: var(--White);
}

.numbered-page-btn__active:focus,
.numbered-page-btn:focus {
    outline: 3px solid var(--BlueVivid);
    z-index: 2;
}

.numbered-page-btn:hover {
    cursor: pointer;
    background-color: var(--GrayLightest);
}

.numbered-page-btn__active {
    color: var(--White);
    background-color: var(--BlueDarkest);
    border-radius: 0px;
}

.numbered-page-btn__active:hover {
    background-color: var(--BlueDarkest);
}

.numbered-page-btn__first-page {
    align-self: flex-end;
}

.numbered-page-btn__last-page {
    border-left: 1px solid var(--Blue);
    border-right: none;
    align-self: flex-end;
}

.numbered-page-btn__six-pages {
    border-left: none;
}

.elipsis-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    vertical-align: bottom;
    padding: 12px;
    padding-bottom: 0px;
    color: var(--Blue);
    width: 25px;
    line-height: 0.65;
}

.less-than-six-pages {
    border-right: 0px;
}

.middle-pages {
    display: flex;
}

.middle-pages-container {
    display: flex;
}

.middle-subsection-container {
    display: flex;
}

.page-btn-on-middle-left {
    border-left: 1px solid var(--Blue);
}

.page-btn-on-middle-right {
    border-right: none;
}

.pagination-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagination-container {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: flex-end;
}

.results-per-page-container {
    margin-right: 44px;
}

.results-per-page-container-mobile {
    margin-right: 8px;
}

.results-per-page-dropdown {
    display: block;
    width: 85px;
    max-width: 30em;
    height: 44px;
    box-sizing: border-box;
    padding: 9px 38px 9px 16px;
    border: 1px solid var(--GrayDarkest);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--White);
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjIuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDQ0OCA1MTIiPjwhLS0hIEZvbnQgQXdlc29tZSBQcm8gNi4xLjEgYnkgQGZvbnRhd2Vzb21lIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20gTGljZW5zZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tL2xpY2Vuc2UgKENvbW1lcmNpYWwgTGljZW5zZSkgQ29weXJpZ2h0IDIwMjIgRm9udGljb25zLCBJbmMuIC0tPjxwYXRoIGQ9Ik0yMjQgNDE2Yy04LjE4OCAwLTE2LjM4LTMuMTI1LTIyLjYyLTkuMzc1bC0xOTItMTkyYy0xMi41LTEyLjUtMTIuNS0zMi43NSAwLTQ1LjI1czMyLjc1LTEyLjUgNDUuMjUgMEwyMjQgMzM4LjhsMTY5LjQtMTY5LjRjMTIuNS0xMi41IDMyLjc1LTEyLjUgNDUuMjUgMHMxMi41IDMyLjc1IDAgNDUuMjVsLTE5MiAxOTJDMjQwLjQgNDEyLjkgMjMyLjIgNDE2IDIyNCA0MTZ6Ii8+PC9zdmc+);
    background-position: right 13px center;
    background-repeat: no-repeat;
    background-size: 19px;
    border-radius: 0;
    color: var(--GrayDarkest);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.25;
}

.results-per-page-dropdown:focus-visible {
    outline: none;
}

.results-per-page-dropdown:focus {
    outline: 3px solid var(--BlueVivid) !important;
    border-radius: 0px;
}

.jump-to-page-container {
    margin-left: 44px;
}

.jump-to-page-container-mobile {
    margin-left: 8px;
}

.jump-to-input {
    width: 44px;
    height: 44px;
    border: 1px solid var(--GrayDarkest);
    border-radius: 0px;
    color: var(--GrayDarkest);
    line-height: 24px;
    padding: 0px;
    text-align: center;
    -webkit-appearance: none;
    outline: none;
    box-sizing: border-box;
}

.jump-to-input:focus-visible {
    outline: none;
}

.jump-to-input:focus {
    outline: 3px solid var(--BlueVivid);
}

.input-button-container {
    display: flex;
}

.jump-to-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--Blue);
    background-color: var(--White);
    border: 1px solid var(--Blue);
    border-radius: 4px;
    height: 44px;
    width: 44px;
    margin: 0 0 0 15px;
    letter-spacing: 0;
}

.jump-to-button:hover {
    cursor: pointer;
}

.jump-to-button:focus {
    outline: 3px solid var(--BlueVivid);
    border-radius: 0px;
}

.jump-to-error-outer-container {
    position: relative;
}

.jump-to-error-inner-container {
    position: absolute;
    padding-top: 8px;
}

.jump-to-error-text {
    color: var(--Red);
    font-size: 14px;
    line-height: 20px;
}

.label-container {
    margin-bottom: 8px;
}

.label-container__results {
    position: relative;
    height: 32px;
}

.label-subcontainer__results {
    position: absolute;
    width: 150%;
}

.label-text {
    color: var(--GrayDarkest);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.page-tracker-container {
    margin-bottom: 8px;
}

.page-tracker-container-basic,
.page-tracker-container-mobile {
    margin-bottom: 8px;
}

.page-tracker {
    display: flex;
    justify-content: center;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.chevron-text {
    font-size: 16px;
    color: var(--Blue);
}

.chevron-text-disabled {
    font-size: 16px;
    color: var(--GrayDarkest);
}

.chevron-container-disabled {
    border: 1px solid var(--GrayDarkest);
}

.chevron-container-disabled:hover {
    cursor: default;
}

.mobile-top-subcontainer {
    display: flex;
}

.mobile-chevron-outer-container {
    width: 100%;
}

.mobile-chevron-outer-container:not(:last-child) {
    margin-right: 16px;
}

.mobile-bottom-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 24px;
}

.mobile-bottom-subcontainer {
    display: flex;
    flex: 1;
}

.mobile-bottom-subcontainer-single {
    display: flex;
}

.mobile-container {
    width: 100%;
    padding: 0 16px;
}
