/** ------------------- *
  *   Block Selector    *
  * ------------------- */
.breadcrumb-bar {
    background-color: rgb(243, 243, 243);
    padding-top: 12px;
}

.hide-breadcrumbs {
  display: none;
}

/** ----------------------- *
*   Element Selectors     *
* ----------------------- */

/** ----------------------- *
*    Modifying Selectors  *
* ----------------------- */

@media (max-width: 991px) and (min-width: 576px) {
  nav.breadcrumb-bar li:first-child {
      padding-left: 0;
  }
}

@media (max-width: 575px) {
  nav.breadcrumb-bar li:first-child {
      padding-left: 8px;
  }
}
