/** ------------------- *
  *   Block Selector    *
  * ------------------- */
.content-box {
    box-sizing: border-box;
    background: white;
    /*width: 49%;
    margin-bottom: 24px;*/
}

@media (max-width: 992px){
    .content-box{
        width: 100%;
    }
}
/** ----------------------- *
  *   Element Selectors     *
  * ----------------------- */
.content-box__border {
    border: 1px solid var(--GrayLight);
    padding: 24px;
}

.content-box__title {
    margin: 0;
}

.content-box__content {
    font-size: 16px;
}
/** ----------------------- *
  *    Modifying Selectors  *
  * ----------------------- */




