div#redline-message__content > p {
    margin-bottom: 0px;
}

#redline-message__content .external-icon {
    height: .85em;
    width: .85em;
    vertical-align: -2.5px;
    margin-left: 1px;
    margin-right: 2px;
}

#redline-message__content .irs-external-link {
    margin-left: em(1px);
    margin-right: em(2px);
    color: var(--Blue);
}

#redline-message__content .irs-external-link::after {
    display: none;
}
