/** ------------------- *
  *   Block Selector    *
  * ------------------- */
.two-column-list {
    list-style: none;
    margin: 0;
    padding: 0;
}


/** ----------------------- *
*   Element Selectors     *
* ----------------------- */
.two-column-list__row {
    padding: 8px 17px;
    display: flex;
    flex-direction: row;
}

.two-column-list__divider{
	width:50%;
}

/** ----------------------- *
*    Modifying Selectors  *
* ----------------------- */

.two-column-list--borders li:last-child {
    border-bottom: 1px solid var(--GrayLight);
}

.two-column-list--borderless li:last-child {
    border-bottom: 0;
}

.two-column-list__row--borders {
    border-top: 1px solid var(--GrayLight);
}

.two-column-list__row--borderless {
    border: 0;
}

.two-column-list__row--borderless li:last-child {
    border: 0;
}

.two-column-list__row--no-bold {
    font-weight: normal;
}

.two-column-list__row--right-bold > span:nth-child(2) {
    font-weight: 700;
}

.two-column-list__row--default-bold > span:first-child {
    font-weight: 700;
}

.two-column-list__row--no-padding {
    padding: 0;
}

@media (max-width: 991px){
     .two-column-row__right-item {
        text-align: left;
        word-break: break-word;
    }

     .two-column-row__right-item .helptip-group {
         float: right;
     }

    .two-column-list__item .helptip-button {
        display: inline;
    }
}

.two-column-list li span {
    width: 45%;
}

.two-column-row__header--display {
    margin-right: 10px;
    display: inline-block;
}
