.stepIndicator-item {
    padding: 0px 20px;
    list-style-type: none;
}

.stepIndicator-knot-line {
    position: relative;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.stepIndicator-line {
    position: absolute;
    z-index: 0;
    top: 24px;
    left: 77%;
    width: 80px;
    height: 1px;
    background-color: var(--GrayDark)
}

.stepIndicator-item:last-child .stepIndicator-line {
    display: none;
}

.stepIndicator-anchor {
    display: block;
}

.stepIndicator-knot {
    position: relative;
    width: 40px;
    height: 40px;
    border: 3px solid var(--GrayDark);
    background: var(--White);
    border-radius: 50%;
    color: var(--GrayLight);
    margin: 0 auto;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.stepIndicator-knot-completed {
    background: var(--Blue);
    border: 3px solid var(--Blue);
    pointer-events: auto;
    cursor: pointer;
}

.stepIndicator-knot-completed:hover {
    background: var(--BlueDark);
    border: 3px solid var(--BlueDark);
}

.stepIndicator-knot-finished {
    background: var(--White);
    border: 3px solid var(--GrayDark);
    color: var(--Gr);
}

.stepIndicator-knot-active {
    background: var(--BlueDark);
    border: 3px solid var(--BlueDark);
    color: var(--White);
}

.stepIndicator-label {
    color: var(--GrayDark);
    font-size: 18px;
    width: 100%;
}

.stepIndicator-label-active {
    color: var(--White);
    font-size: 18px;
    width: 100%;
}

.stepIndicator-label-completed {
    height: 28px;
    width: 100%;
    background: url('./assets/check-white.svg') no-repeat center 0px;
}

.stepIndicator-label-finished {
    height: 28px;
    width: 100%;
    background: url('./assets/check-gray.svg') no-repeat center 0px;
}

.stepIndicator-title {
    color: var(--GrayDark);
    font-size: 14px;
    width: 86px;
    margin: 12px 0 0px;
    line-height: 20px;
}

.stepIndicator-title-link {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--Blue);
    padding: 0px;
    cursor: pointer;
    text-decoration: underline;
}

.stepIndicator-title-link:hover {
    color: var(--BlueDark);
}

.stepIndicator-title-active {
    font-weight: bold;
}

@media (max-width: 991px) {
    .stepIndicator-line {
        width: calc(100% + 34px);
        top: 23px;
    }
}

@media (max-width: 767px) {
    .stepIndicator-item {
        padding: 4px;
    }

    .stepIndicator-line {
        width: calc(100% + 8px);
        top: 19px;
    }

    .stepIndicator-knot {
        width: 32px;
        height: 32px;
    }

    .stepIndicator-label {
        font-size: 14px;
    }

    .stepIndicator-label-active {
        font-size: 14px;
    }

    .stepIndicator-label-completed {
        height: 20px;
    }

    .stepIndicator-label-finished {
        height: 20px;
    }

    .stepIndicator-title {
        display: none;
    }
}
