/** ------------------- *
  *   Block Selector    *
  * ------------------- */

.alert-box {
    padding: 24px;
    display: flex;
    align-items: flex-start;
    margin: 24px 0;
}

.alert-box__icon svg {
    height: 24px;
    width: 24px;
}

.alert-box__icon .info-icon {
    margin-left: 0;
}

@media (max-width: 991px) {
    .alert-box {
        padding: 24px;
        margin: 24px 0;
    }
}

/** ----------------------- *
  *   Element Selectors     *
  * ----------------------- */

.alert-box__text {
    margin-left: 12px;
    align-items: center;
    flex-grow: 1;
}

.alert-box__title {
    font-size: 20px;
    color: var(--GrayDarkest);
    font-weight: 700;
    margin: 0;
    margin-bottom: 12px;
    line-height: 28px;
}

.alert-box__content {
    font-size: 16px;
    color: var(--GrayDarkest);
    line-height: 24px;
    margin: 0;
    word-break: break-word;
}


/** ----------------------- *
  *    Modifying Selectors  *
  * ----------------------- */

.alert-box--info-color {
    background-color: var(--TealLightest);
    border-left: solid 3px var(--Teal);
}

.alert-box--warning-color {
    background-color: var(--YellowLightest);
    border-left: solid 3px var(--Yellow);
}

.alert-box--error-color {
    background-color: var(--RedLightest);
    border-left: solid 3px var(--Red);
}

.alert-box--success-color {
    background-color: var(--GreenLightest);
    border-left: solid 3px var(--Green);
}

.alert-box--message-title {
    font-size: 16px;
    color: var(--GrayDarkest);
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 24px;
}

.alert-box--content {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-grid;
    display: -ms-inline-grid;
}

 .alert-box__text--table-content {
    margin-left: 12px;
    grid-column-start: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
}