h1.typography, h2.typography, h3.typography, h4.typography {
    font-weight: bold;
    color: var(--GrayDarkest);
    margin: 12px 0;
}

p.typography {
    margin: 12px 0;
}

p.typography + h1.typography,
p.typography + h2.typography,
p.typography + h3.typography,
p.typography + h4.typography {
    margin: 16px 0 12px 0;
}

.typography--zero-margins {
    margin: 0;
}

.typography--xxs {
    font-size: 12px;
    line-height: 16px;
}

.typography--xs {
    font-size: 16px;
    line-height: 24px;
}

.typography--sm {
    font-size: 20px;
    line-height: 28px;
}

.typography--md {
    font-size: 24px;
    line-height: 36px;
}

.typography--lg {
    font-size: 28px;
    line-height: 40px;
}

.typography--xl {
    font-size: 40px;
    line-height: 56px;
}