/* CARD */
.card {
    display: grid;
    grid-template-rows: 65px auto;
    border: 1px solid var(--GrayLight);
}

/* HEADER */
.card--header {
    background-color: var(--BlueDark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card--header-gray {
    background-color: var(--GrayDark);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card--header h2,
.card--header-gray h2 {
    color: var(--White);
    font-size: 24px;
    line-height: 36px;
}

/* CONTENT */
.card--content,
.card--content-gray {
    padding: 20px 20px;
    display: grid;
    display: -ms-grid;
}

.card--content-gray {
    background-color: var(--GrayLighter);
}
