svg.external-icon {
    vertical-align: text-top;
    margin-left: 4px;
    /* make the font displayed is actually Source Sans Pro and not OS san-serif before adjusting margin-top */
    margin-top: 2px;
}