/** ------------------- *
  *   Block Selector    *
  * ------------------- */
a.link {
    padding: 0 16px;
    color: var(--White);
    fill: var(--White);
    list-style: none;
    font-size: inherit;
}
/** ----------------------- *
*   Element Selectors     *
* ----------------------- */

/** ----------------------- *
*    Modifying Selectors  *
* ----------------------- */
a.link:visited {
    color: var(--White);
}

a.link:hover {
    color: var(--White);
}

a.link--blue {
    color: var(--Blue);
    fill: var(--Blue);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: underline;
}

a.link--blue:visited {
    color: var(--Purple);
    fill: var(--Purple);
}

a.link--blue:active {
    color: var(--BlueDark);
    fill: var(--BlueDark);
}

a.link--blue:hover {
    color: var(--BlueDark);
    fill: var(--BlueDark);
}

a.link--blue:focus {
    outline: 3px solid var(--BlueVivid);
    outline-offset: 0;
}

a.link--blue.link--delineate {
    border-left: 1px solid var(--GrayLight);
}

a.link--delineate {
    border-left: 1px solid var(--White);
}

@media screen and (max-width: 575px) {
    a.link--blue.link--delineate,
    a.link--delineate {
        border: none;
    }
}

a.link--no-padding {
    padding: 0;
}
