/* .emphasisContainer {
    display: flex;
} */

.emphasisTag {
    background: #c7a97b;
    cursor: auto !important;
    border: 0;
    display: inline-block;
    margin-right: 12px;

    height: 20px;
    margin-left: 16px;
    margin-top: 10px;
    letter-spacing: normal !important;

    padding: 0px 8px 0px 8px;

    border-radius: 4px;
    vertical-align: baseline;

    margin-bottom: 12px;
    margin-right: 0;
    white-space: nowrap;

    .emphasisTagText {
        color: var(--GrayDarkest);
        font-size: 12px;
        text-transform: uppercase;
        vertical-align: baseline;
        font-size: 12px;
        margin-right: 0;
        line-height: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .sr-only {
        position: absolute;
        overflow: hidden;
        width: 1px;
        height: 1px;
        padding: 0;
        border: 0;
        margin: -1px;
        clip: rect(1px, 1px, 1px, 1px);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        word-wrap: normal;
        display: inline-block;
    }
}
