.loading-overlay {
    background: var(--BlueDark);
    zoom: 1;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 1;
}

.loading-overlay--page-body {
    /*background: #002D62;*/
    zoom: 1;
    width: 100%;
    height: 100%;
    /*z-index: 9999;*/
    opacity: 1;
}

.loading-overlay.fixed-pos {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.loading-overlay--page-body.relative-pos {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.spinner-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.centered {
    text-align: center;
}

.loading-text {
    color: var(--White);
    font-size: 2em;
    font-weight: 700;
    outline: 0;
}

.loading-text-black {
    color: var(--GrayDarkest);
    font-size: 2em;
    font-weight: 700;
    outline: 0;
}
