.textField {
    padding: 12px 16px;
    border: 1px solid var(--GrayDarkest);
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
}

.textField--error {
    border: 1px solid var(--Red);
}