.CalendarPicker__main {
    width: 343px;
}

.CalendarPicker__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.8em 0;
    font-size: 16px;
    table-layout: fixed;
    text-align: center;
}

.CalendarPicker__title {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    border: 0;
}

.CalendarPicker__monthSelectorButton {
    font-size: 20px;
    color: #00599c;
    background-color: transparent;
    border: none;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.CalendarPicker__monthSelectorButton.left {
    position: absolute;
    left: 65px;
}

.CalendarPicker__monthSelectorButton.right {
    position: absolute;
    right: 63px;
}

.CalendarPicker__th {
    height: 38px;
}

.CalendarPicker__dayTd {
    text-align: center;
    vertical-align: middle;
    height: 38px;
    border: none;
}

.CalendarPicker__dayButton {
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    -webkit-font-smoothing: auto;
    font-weight: 400;
    text-align: left;
    overflow: visible;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: #1b1b1b;
    cursor: pointer;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
}

.CalendarPicker__dayButton:hover {
    width: 33px;
    height: 33px;
    background-color: #002d62;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
}

.CalendarPicker__dayButton.active {
    width: 33px;
    height: 33px;
    background-color: #00599c;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
}

.CalendarPicker__dayButton.disabled {
    font-size: 16px;
    line-height: 24px;
    color: #d6d7d9;
}

.CalendarPicker__dayButton.disabled:hover {
    background-color: transparent;
    cursor: default;
    font-weight: 400;
}

.rcl-2 .CalendarPicker__h1 {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    font-weight: normal;
}

.CalendarPicker__monthSelectorButton.left.disabled,
.CalendarPicker__monthSelectorButton.right.disabled {
    color: #5b616b;
}

/* mobile styles */
@media (max-width: 767px) {
    .CalendarPicker__main {
        max-width: 767px;
    }

    .CalendarPicker__monthSelectorButton.left {
        left: 57px;
    }

    .CalendarPicker__monthSelectorButton.right {
        right: 57px;
    }
}
