.table-row-wrapper {
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.table-row-wrapper--borderless {
    border-bottom: none;
 }

.table-row-item {
    padding: 5px 0px;
}

.table-row--normal-width {
    width: 50%;
 }

.end-col {
    text-align: right;
    margin-left: auto;
}

.taxYear-end-col {
    text-align: left;
    margin-left: 0;
    font-weight: 700;
}
 
.taxYear-col {
    width: 16%;
} 

.header-item {
    font-weight: 700;
}

.table-row-item--content {
    text-align: left;
    border-bottom: none;
} 

.table-row-item--indent {
    padding-left: 15px;
}

.header-item--mobile{
    padding-right:3px; 
}
 
@media (max-width: 562px) {
    .taxYear-end-col {
        text-align: left;
        margin-left: 0;
        font-weight: 700;
        width: 80%;
    }
    .taxYear-col {
        width: 20%;
    }
 } 

