/** ------------------- *
  *   Block Selector    *
  * ------------------- */
  .table-row--wrapper {
    border-top: 1px solid rgb(204, 204, 204);
    width: 100%;
}

.table-row__item {
    line-height: 24px;
    padding: 7px 0px;
    vertical-align: top;
}

@media screen and (max-height: 991px) {
    .table-row__item {
        padding: 15px 0px;
    }
}

.table-row--wrapper:first-child {
    border-top: none;
}

.table-row--wrapper:last-child {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.table-row__item:first-child {
    padding-left: 17px;
}

.header-item:last-child,
.table-row__item:last-child {
    text-align: right;
    margin-left: auto;
}

.table-row__item:last-child {
    text-align: right;
}

.table-row__item.table-row__content-item:last-child {
    padding-top: 0;
    text-align: left;
}

.header-sortable {
    color: var(--Blue);
}

.header-sortable--active {
    color: var(--BlueDark);
    border-bottom: 3px solid;
    border-color: var(--BlueDark);
}

.header-sortable:hover,
.header-sortable--active:hover {
    cursor: pointer;
    color: var(--BlueDark);
}

/** ----------------------- *
*    Modifying Selectors  *
* ----------------------- */
.table-row__item--header-item {
    font-weight: 700;
    text-align: left;
}

.table-row__item--skinny {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 0px !important;
}

.table-row--total {
    width: 100%;
    border-top: 1px solid var(--GrayDarkest) !important;
    border-bottom: none;
}

.noBorder {
    border: none;
}

.bottomBorder {
    border-bottom: 1px solid rgb(204, 204, 204);
 }

.noTopBorder {
    border-top:none;
}
