.radio-input-container {
    position: relative;
    margin-bottom: 12px;
    width: 100%;
    max-width: 30em;
    user-select: none;
}

.radio-input-field {
    padding-left: 40px;
}

@media screen and (max-width: 190px) {
    .radio-input-field {
        padding-left: 0;
    }

    .radio-input-text {
        max-width: 50px;
    }
}

.radio-input-text {
    width: 90%;
    padding: 12px;
    border: 1px solid var(--GrayLight);
    speak: spell-out;
    line-height: 20px;
    font-weight: 400;
    margin: 0.2em 0;
}

@media screen and (min-width: 276px) and (max-width: 430px) {
    .radio-input-text {
        max-width: 75%;
    }
}

@media screen and (max-width: 275px) {
    .radio-input-text {
        max-width: 55%;
    }
}

.radio-input-text:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #add4fe;
}

.input-instructions {
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 1.42857;
    max-width: 42em;
}

.input--error-outline {
    border: 1px solid #cd2026;
}
